//esquema de color
$light-green: #7cea9c;
$dark-blue: #2d3047;
$dark: #071013;
$white:#FFFFFF;
$light-gray:#7d7d7d;
$soft-gray: #bebebe;

//tipografia
$lato: 'Roboto', sans-serif;

//peso de fuente
$light:300;
$regular: 400;
$black: 900;

//tamaño de fuente x definir;
/*
$xx-large: 4.375rem;
$x-large: 1.875rem;
$large: 1.125rem;
$medium: 1rem;
$small: 0.75rem;
*/