.Skills{
    padding-bottom: 2rem;
    border-bottom: 1px solid $light-gray;
    
    h3{
        margin-top:.6rem;
    }
    li{
        font-size: $small;
        color:$light-dblue;
        list-style: none;
    }
}